<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Photographer</ion-title>
  </ion-toolbar>
</ion-header>
<ng-container *ngIf='!loading'>
  <ion-content class="ion-padding">
    <div class="flex flex-col items-center">
      <img [src]="photographer.profilePicture" alt="Photographer Avatar" class="rounded-full w-24 h-24 mb-4" onerror="this.src='../../../assets/dummy-user.webp'">
      <h2 class="text-2xl font-semibold mb-2 text-cyan-600">{{photographer.photograperName}}</h2>
      <p class="text-gray-500 mb-4">{{photographer.title}}</p>
    </div>
  
    <ion-card>
      <ion-card-header>
        <ion-card-title color="primary">About</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <div class="flex items-center mb-2">
          <p class="text-sm text-gray-600">Phone: {{photographer.phone}}</p>
        </div>
        <div class="flex items-center mb-2">
          <p class="text-sm text-gray-600">Website: {{photographer.webLink}}</p>
        </div>
        <div class="flex items-center">
          <p class="text-sm text-gray-600">Location: {{photographer.location}}</p>
        </div>
      </ion-card-content>
    </ion-card>
  
    <ion-card>
      <ion-card-header>
        <ion-card-title color="primary">Portfolio</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <!-- Display photographer's portfolio items here -->
        <ng-container *ngFor="let image of photographer.images">
          <ion-img [src]="image.imageUrl" class="mb-2"></ion-img>
        </ng-container>
        <!-- Add more portfolio items as needed -->
      </ion-card-content>
    </ion-card>
  
    <ion-button expand="full" (click)="viewPackages()" class="mt-4">
      View Packages
    </ion-button>
  </ion-content>
</ng-container>