<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Upload Image</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h1 class="text-center text-2xl text-cyan-600 mb-4">Select image to upload</h1>
  <input type="file" (change)="onFileSelected($event)" multiple accept="image/*" class="mb-4"/>
  <ion-button expand="full" color="primary" (click)="uploadImages()" [disabled]="selectedImages.length === 0">
    Upload Image
  </ion-button>
</ion-content>