// home.page.scss


    .home-background {
      position: relative;
      height: 300px; /* Adjust the height as needed */
      background-image: url('/src/assets/home-background.jpg'); /* Replace with the actual path to your image */
      background-size: cover;
      background-color: #333;
      background-position: center;
      .home-text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }


    ion-icon {
        font-size: 40px;
    }

    .swiper-container {
        width: 100%;
      }
      
      .swiper-slide {
        width: 80%; // Adjust the width of each card
      }
      
      .swiper-pagination {
        bottom: 10px;
      }